    /* 以下編集画面のソースコード風なマーク設定 */


    /* ヘッダー設定 */

    .cm-s-easymde .cm-header-1, .cm-s-easymde .cm-header-2, .cm-s-easymde .cm-header-3,
    .cm-s-easymde .cm-header-4, .cm-s-easymde .cm-header-5, .cm-s-easymde .cm-header-6 {
        font-size: 16px;
        line-height:normal;
        display:inline; /* inline-blockにすることでマージンは効くが、折り返し時に#と分離してしまう。 */
        position: relative;
        font-weight: inherit;
        /*-webkit-font-smoothing: antialiased;*/
        color: blue;
    }

    .cm-s-easymde .cm-formatting-header-1, .cm-s-easymde .cm-formatting-header-2,
    .cm-s-easymde .cm-formatting-header-3, .cm-s-easymde .cm-formatting-header-4 ,
    .cm-s-easymde .cm-formatting-header-5, .cm-s-easymde .cm-formatting-header-6 {
        color:gray;
        border-bottom: 1px dashed #999;
        font-size:16px;
        position:relative;
    }

    /* codeの設定 */
    .cm-s-easymde .cm-comment {
        font-size: 16px;
        white-space: initial;
        border:none;
        background-color:transparent;
        color:dodgerblue;
    }


    /* hrの設定 */
    .cm-hr {
        color:darkorange;
    }


    /* ストロングの設定 */
    .cm-strong {
        font-weight: normal;
        color:brown;
    }

    /* 取消し線の設定 */
    .cm-strikethrough {
        text-decoration: none;
        color:silver;
    }

    .cm-s-easymde .cm-quote {
        color:goldenrod;
        font-style:normal;
    }

    .cm-s-easymde .cm-formatting-quote {
        color:gray;
        border-bottom: 1px dashed #999;
        font-style:normal;
    }

    .cm-s-easymde .cm-em {
        color:palevioletred;
        font-style:normal;
    }

    .cm-s-easymde .cm-variable-2 {
        color:blueviolet
    }

    .cm-s-easymde .cm-variable-3 {
        color:green
    }

    .cm-s-easymde .cm-formatting-list {
        color:gray;
        border-bottom: 1px dashed #999;
        font-style:normal;
    }
