
.modal-wrapper {
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 40px 10px;
  text-align: center
}

.modal-wrapper:not(:target) {
  opacity: 0;
  visibility: hidden;
  transition: opacity .1s, visibility .1s;
}

.modal-wrapper:target {
  opacity: 1;
  visibility: visible;
  transition: opacity .1s, visibility .1s;
}

.modal-wrapper::after {
  display: inline-block;
  height: 100%;
  margin-left: -.05em;
  vertical-align: middle;
  content: ""
}

.modal-wrapper .modal-window {
  box-sizing: border-box;
  display: inline-block;
  z-index: 20;
  position: relative;
  width: 80vw;
  max-width: 80vw;
  padding: 30px 30px 15px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, .6);
  vertical-align: middle;
  max-height: 80vh;
  height:80vh;
}

.modal-wrapper .modal-window .modal-content {
  max-height: 80vh;
  overflow-y: auto;
  text-align: left
}

.modal-overlay {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .8)
}

.modal-wrapper .modal-close {
  z-index: 20;
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  color: #95979c !important;
  font-size: 20px;
  font-weight: 700;
  line-height: 35px;
  text-align: center;
  text-decoration: none;
  text-indent: 0
}

.modal-wrapper .modal-close:hover {
  color: #2b2e38 !important
}




/* 以下、名前を付けて保存modal用 */

.modal-content h2{
  margin:10px 0 10px;
}


#save_as_modal {
    max-height: 62vh;
    overflow: scroll;
}
#save_as_form {
  position: absolute;
  bottom: 15px;
}

#file_name_gdrive_exec {
  width: 57vw;
  height: 20px;
  margin-top: 5px;
}

#save_as_to_gdrive_exec {
  cursor:default;

  display: inline-block;
  color: #fff;
  text-decoration: none;
  background-color: rgb(37,37,37);;
  /*border-bottom: solid 1px #67b44a;*/

  /* macメニュー風のメニュー */
  padding: 0px 6px;
  line-height: 26px;
  border-radius: 3px;
  vertical-align: bottom;
  height: 26px;
}
#save_as_to_gdrive_exec:hover {
  background-color:rgb(47, 118, 224);
  /*border-bottom: solid 1px #dd5656;*/
}


#save_as_to_gdrive_cancel {
  cursor:default;

  display: inline-block;
  color: #fff;
  text-decoration: none;
  background-color: rgb(37,37,37);;
  /*border-bottom: solid 1px #67b44a;*/

  /* macメニュー風のメニュー */
  padding: 0px 6px;
  line-height: 26px;
  border-radius:3px;
  vertical-align: bottom;
  height: 26px;
}
#save_as_to_gdrive_cancel:hover {
  background-color:rgb(47, 118, 224);
  /*border-bottom: solid 1px #dd5656;*/
}

.file_div_in_modal {
  padding: 5px;
}
.file_div_in_modal a {
  color: black;
  cursor: pointer;
}
.file_div_in_modal a .fa-file {
  color: gray;
}

.folder_div_in_modal {
  padding: 5px;
}
.folder_div_in_modal a {
  color: black;
  cursor: pointer;
}
.folder_div_in_modal a .fa-folder {
  color: black;
}

#file_name_gdrive_exec {
  color:initial;
}

/* 選択中の背景色 */

.file_div_in_modal:hover {
    background-color: lightgray;
}
.file_div_in_modal::selection {
    background-color: blue !important;
}