@media print {

        .CodeMirror-wrap, .editor-preview-active {
            overflow: visible !important;
            -webkit-print-color-adjust:exact !important; /* 背景色の表示 */
            position: relative; /* 改ページ設定に必要 */
            padding-top: 0% !important; /* 各ページのtopからの距離を揃えるのに必要 */
            padding-bottom: 0% !important;

        }


        .CodeMirror-wrap {
            border:none !important;
            padding: 0% !important;


        }

        .editor-toolbar, .editor-statusbar, .CodeMirror-code, .CodeMirror-sizer,  .CodeMirror-scroll, .CodeMirror-vscrollbar, .CodeMirror-hscrollbar, textarea, .editor-preview-side, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler, .darkmode-toggle, #toc_wrapper, #file_menu {
            display: none !important;
        }


        /* for marp */
        body,
        html {
            /*background-color: #fff !important;*/
            margin: 0% !important;
            page-break-inside: avoid;
            break-inside: avoid-page
        }

        div.marpit>svg>foreignObject>section {
            page-break-before: always;
            break-before: page;

            height: 720px !important;
            width: 1280px !important;
            box-sizing:border-box !important;
        }


        div.marpit>svg>foreignObject>section,
        div.marpit>svg>foreignObject>section * {
            -webkit-print-color-adjust: exact !important;
            animation-delay: 0s !important;
            animation-duration: 0s !important;
            color-adjust: exact !important;
            transition: none !important
        }

        div.marpit>svg[data-marpit-svg] {
            display: block !important;
            height: 720px !important;
            width: 1280px !important;
            box-shadow:none !important;
            margin: 0% !important;
            padding: 0% !important;
            max-height: 720px !important;
            max-width: 1280px !important;

            box-sizing:border-box !important;

            /* スライドの境界線「印刷」時のみ有効（ｐｄｆ出力時は適用しない）
            border: 1px gray solid !important;
            height: 719px !important;
            max-height: 719px !important;
            */
        }

        .CodeMirror-wrap, .editor-preview-active {
            padding: 0% !important;
            margin: 0% !important;
        }


}

@page {
    size: 1280px 720px !important;
    margin: 0% !important;
}


/* 編集画面の水平線の太字化 */
.cm-hr {
    color: transparent;
    border-top: 23px solid lightgray;
    display: block;
    height: 23px;
    box-sizing: border-box;

    position: absolute;
    width: -webkit-fill-available;
}


