


/* original */
    div.marpit>svg>foreignObject>section {
        width: 1280px;
        height: 720px;
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
        scroll-snap-align: center center
    }

    div.marpit>svg>foreignObject>section:after {
        bottom: 0;
        content: attr(data-marpit-pagination);
        padding: inherit;
        pointer-events: none;
        position: absolute;
        right: 0
    }

    div.marpit>svg>foreignObject>section:not([data-marpit-pagination]):after {
        display: none
    }

    /* Normalization */
    div.marpit>svg>foreignObject>section h1 {
        font-size: 2em;
        margin: 0.67em 0
    }

    div.marpit>svg>foreignObject>section video::-webkit-media-controls {
        will-change: transform
    }

    /* @page @media print の元の位置 simplem */



    div.marpit>svg>foreignObject>section svg[data-marp-fitting=svg] {
        display: block;
        height: auto;
        width: 100%
    }

    @supports (-ms-ime-align:auto) {
        div.marpit>svg>foreignObject>section svg[data-marp-fitting=svg] {
            position: static
        }
    }

    div.marpit>svg>foreignObject>section svg[data-marp-fitting=svg].__reflow__ {
        content: ""
    }

    @supports (-ms-ime-align:auto) {
        div.marpit>svg>foreignObject>section svg[data-marp-fitting=svg].__reflow__ {
            position: relative
        }
    }

    div.marpit>svg>foreignObject>section [data-marp-fitting-svg-content] {
        display: table;
        white-space: nowrap;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content
    }

    div.marpit>svg>foreignObject>section [data-marp-fitting-svg-content-wrap] {
        white-space: pre
    }

    div.marpit>svg>foreignObject>section img[data-marp-twemoji] {
        background: transparent;
        height: 1em;
        margin: 0 .05em 0 .1em;
        vertical-align: -.1em;
        width: 1em
    }

    /*!
 * Marp default theme.
 *
 * @theme default
 * @author Yuki Hattori
 *
 * @auto-scaling true
 * @size 16:9 1280px 720px
 * @size 4:3 960px 720px
 */
    div.marpit>svg>foreignObject>section .octicon {
        fill: currentColor;
        display: inline-block;
        vertical-align: text-bottom
    }

    div.marpit>svg>foreignObject>section .anchor {
        float: left;
        line-height: 1;
        margin-left: -20px;
        padding-right: 4px
    }

    div.marpit>svg>foreignObject>section .anchor:focus {
        outline: none
    }

    div.marpit>svg>foreignObject>section h1 .octicon-link,
    div.marpit>svg>foreignObject>section h2 .octicon-link,
    div.marpit>svg>foreignObject>section h3 .octicon-link,
    div.marpit>svg>foreignObject>section h4 .octicon-link,
    div.marpit>svg>foreignObject>section h5 .octicon-link,
    div.marpit>svg>foreignObject>section h6 .octicon-link {
        color: #1b1f23;
        vertical-align: middle;
        visibility: hidden
    }

    div.marpit>svg>foreignObject>section h1:hover .anchor,
    div.marpit>svg>foreignObject>section h2:hover .anchor,
    div.marpit>svg>foreignObject>section h3:hover .anchor,
    div.marpit>svg>foreignObject>section h4:hover .anchor,
    div.marpit>svg>foreignObject>section h5:hover .anchor,
    div.marpit>svg>foreignObject>section h6:hover .anchor {
        text-decoration: none
    }

    div.marpit>svg>foreignObject>section h1:hover .anchor .octicon-link,
    div.marpit>svg>foreignObject>section h2:hover .anchor .octicon-link,
    div.marpit>svg>foreignObject>section h3:hover .anchor .octicon-link,
    div.marpit>svg>foreignObject>section h4:hover .anchor .octicon-link,
    div.marpit>svg>foreignObject>section h5:hover .anchor .octicon-link,
    div.marpit>svg>foreignObject>section h6:hover .anchor .octicon-link {
        visibility: visible
    }

    div.marpit>svg>foreignObject>section h1:hover .anchor .octicon-link:before,
    div.marpit>svg>foreignObject>section h2:hover .anchor .octicon-link:before,
    div.marpit>svg>foreignObject>section h3:hover .anchor .octicon-link:before,
    div.marpit>svg>foreignObject>section h4:hover .anchor .octicon-link:before,
    div.marpit>svg>foreignObject>section h5:hover .anchor .octicon-link:before,
    div.marpit>svg>foreignObject>section h6:hover .anchor .octicon-link:before {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' aria-hidden='true'%3E%3Cpath fill-rule='evenodd' d='M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z'/%3E%3C/svg%3E");
        content: " ";
        display: inline-block;
        height: 16px;
        width: 16px
    }

    div.marpit>svg>foreignObject>section {
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
        word-wrap: break-word;
        color: #24292e;
        /*font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji; simplem*/
        font-size: 16px;
        line-height: 1.5
    }

    div.marpit>svg>foreignObject>section {
        --marpit-root-font-size: 16px
    }

    div.marpit>svg>foreignObject>section details {
        display: block
    }

    div.marpit>svg>foreignObject>section summary {
        display: list-item
    }

    div.marpit>svg>foreignObject>section a {
        background-color: initial
    }

    div.marpit>svg>foreignObject>section a:active,
    div.marpit>svg>foreignObject>section a:hover {
        outline-width: 0
    }

    div.marpit>svg>foreignObject>section strong {
        font-weight: inherit;
        font-weight: bolder
    }

    div.marpit>svg>foreignObject>section h1 {
        margin: .67em 0
    }

    div.marpit>svg>foreignObject>section img {
        border-style: none
    }

    div.marpit>svg>foreignObject>section code,
    div.marpit>svg>foreignObject>section kbd,
    div.marpit>svg>foreignObject>section pre {
        /* font-family: monospace, monospace; simplem*/
        font-size: 1em
    }

    div.marpit>svg>foreignObject>section hr {
        box-sizing: initial;
        overflow: visible
    }

    div.marpit>svg>foreignObject>section input {
        font: inherit;
        margin: 0;
        overflow: visible
    }

    div.marpit>svg>foreignObject>section [type=checkbox] {
        padding: 0
    }

    div.marpit>svg>foreignObject>section *,
    div.marpit>svg>foreignObject>section [type=checkbox] {
        box-sizing: border-box
    }

    div.marpit>svg>foreignObject>section input {
        font-family: inherit;
        font-size: inherit;
        line-height: inherit
    }

    div.marpit>svg>foreignObject>section a {
        color: #0366d6;
        text-decoration: none
    }

    div.marpit>svg>foreignObject>section a:hover {
        text-decoration: underline
    }

    div.marpit>svg>foreignObject>section strong {
        font-weight: 600
    }

    div.marpit>svg>foreignObject>section hr {
        background: transparent;
        border-bottom: 1px solid #dfe2e5;
        height: 0;
        margin: 15px 0;
        overflow: hidden
    }

    div.marpit>svg>foreignObject>section hr:after,
    div.marpit>svg>foreignObject>section hr:before {
        content: "";
        display: table
    }

    div.marpit>svg>foreignObject>section hr:after {
        clear: both
    }

    div.marpit>svg>foreignObject>section table {
        border-collapse: collapse;
        border-spacing: 0
    }

    div.marpit>svg>foreignObject>section td,
    div.marpit>svg>foreignObject>section th {
        padding: 0
    }

    div.marpit>svg>foreignObject>section details summary {
        cursor: pointer
    }

    div.marpit>svg>foreignObject>section h1,
    div.marpit>svg>foreignObject>section h2,
    div.marpit>svg>foreignObject>section h3,
    div.marpit>svg>foreignObject>section h4,
    div.marpit>svg>foreignObject>section h5,
    div.marpit>svg>foreignObject>section h6 {
        margin-bottom: 0;
        margin-top: 0
    }

    div.marpit>svg>foreignObject>section h1 {
        font-size: 32px
    }

    div.marpit>svg>foreignObject>section h1,
    div.marpit>svg>foreignObject>section h2 {
        font-weight: 600
    }

    div.marpit>svg>foreignObject>section h2 {
        font-size: 24px
    }

    div.marpit>svg>foreignObject>section h3 {
        font-size: 20px
    }

    div.marpit>svg>foreignObject>section h3,
    div.marpit>svg>foreignObject>section h4 {
        font-weight: 600
    }

    div.marpit>svg>foreignObject>section h4 {
        font-size: 16px
    }

    div.marpit>svg>foreignObject>section h5 {
        font-size: 14px
    }

    div.marpit>svg>foreignObject>section h5,
    div.marpit>svg>foreignObject>section h6 {
        font-weight: 600
    }

    div.marpit>svg>foreignObject>section h6 {
        font-size: 12px
    }

    div.marpit>svg>foreignObject>section p {
        margin-bottom: 10px;
        margin-top: 0
    }

    div.marpit>svg>foreignObject>section blockquote {
        margin: 0
    }

    div.marpit>svg>foreignObject>section ol,
    div.marpit>svg>foreignObject>section ul {
        margin-bottom: 0;
        margin-top: 0;
        padding-left: 0
    }

    div.marpit>svg>foreignObject>section ol ol,
    div.marpit>svg>foreignObject>section ul ol {
        list-style-type: lower-roman
    }

    div.marpit>svg>foreignObject>section ol ol ol,
    div.marpit>svg>foreignObject>section ol ul ol,
    div.marpit>svg>foreignObject>section ul ol ol,
    div.marpit>svg>foreignObject>section ul ul ol {
        list-style-type: lower-alpha
    }

    div.marpit>svg>foreignObject>section dd {
        margin-left: 0
    }

    div.marpit>svg>foreignObject>section code,
    div.marpit>svg>foreignObject>section pre {
        /* font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace; simplem*/
        font-size: 12px
    }

    div.marpit>svg>foreignObject>section pre {
        margin-bottom: 0;
        margin-top: 0
    }

    div.marpit>svg>foreignObject>section input::-webkit-inner-spin-button,
    div.marpit>svg>foreignObject>section input::-webkit-outer-spin-button {
        -webkit-appearance: none;
        appearance: none;
        margin: 0
    }

    div.marpit>svg>foreignObject>section :checked+.radio-label {
        border-color: #0366d6;
        position: relative;
        z-index: 1
    }

    div.marpit>svg>foreignObject>section .border {
        border: 1px solid #e1e4e8 !important
    }

    div.marpit>svg>foreignObject>section .border-0 {
        border: 0 !important
    }

    div.marpit>svg>foreignObject>section .border-bottom {
        border-bottom: 1px solid #e1e4e8 !important
    }

    div.marpit>svg>foreignObject>section .rounded-1 {
        border-radius: 3px !important
    }

    div.marpit>svg>foreignObject>section .bg-white {
        background-color: #fff !important
    }

    div.marpit>svg>foreignObject>section .bg-gray-light {
        background-color: #fafbfc !important
    }

    div.marpit>svg>foreignObject>section .text-gray-light {
        color: #6a737d !important
    }

    div.marpit>svg>foreignObject>section .pl-3,
    div.marpit>svg>foreignObject>section .px-3 {
        padding-left: 16px !important
    }

    div.marpit>svg>foreignObject>section .px-3 {
        padding-right: 16px !important
    }

    div.marpit>svg>foreignObject>section .f6 {
        font-size: 12px !important
    }

    div.marpit>svg>foreignObject>section div.marpit>svg>foreignObject>section section.f6 {
        --marpit-root-font-size: 12px !important
    }

    div.marpit>svg>foreignObject>section .lh-condensed {
        line-height: 1.25 !important
    }

    div.marpit>svg>foreignObject>section .text-bold {
        font-weight: 600 !important
    }

    div.marpit>svg>foreignObject>section .pl-c {
        color: #6a737d
    }

    div.marpit>svg>foreignObject>section .pl-c1,
    div.marpit>svg>foreignObject>section .pl-s .pl-v {
        color: #005cc5
    }

    div.marpit>svg>foreignObject>section .pl-e,
    div.marpit>svg>foreignObject>section .pl-en {
        color: #6f42c1
    }

    div.marpit>svg>foreignObject>section .pl-s .pl-s1,
    div.marpit>svg>foreignObject>section .pl-smi {
        color: #24292e
    }

    div.marpit>svg>foreignObject>section .pl-ent {
        color: #22863a
    }

    div.marpit>svg>foreignObject>section .pl-k {
        color: #d73a49
    }

    div.marpit>svg>foreignObject>section .pl-pds,
    div.marpit>svg>foreignObject>section .pl-s,
    div.marpit>svg>foreignObject>section .pl-s .pl-pse .pl-s1,
    div.marpit>svg>foreignObject>section .pl-sr,
    div.marpit>svg>foreignObject>section .pl-sr .pl-cce,
    div.marpit>svg>foreignObject>section .pl-sr .pl-sra,
    div.marpit>svg>foreignObject>section .pl-sr .pl-sre {
        color: #032f62
    }

    div.marpit>svg>foreignObject>section .pl-smw,
    div.marpit>svg>foreignObject>section .pl-v {
        color: #e36209
    }

    div.marpit>svg>foreignObject>section .pl-bu {
        color: #b31d28
    }

    div.marpit>svg>foreignObject>section .pl-ii {
        background-color: #b31d28;
        color: #fafbfc
    }

    div.marpit>svg>foreignObject>section .pl-c2 {
        background-color: #d73a49;
        color: #fafbfc
    }

    div.marpit>svg>foreignObject>section .pl-c2:before {
        content: "^M"
    }

    div.marpit>svg>foreignObject>section .pl-sr .pl-cce {
        color: #22863a;
        font-weight: 700
    }

    div.marpit>svg>foreignObject>section .pl-ml {
        color: #735c0f
    }

    div.marpit>svg>foreignObject>section .pl-mh,
    div.marpit>svg>foreignObject>section .pl-mh .pl-en,
    div.marpit>svg>foreignObject>section .pl-ms {
        color: #005cc5;
        font-weight: 700
    }

    div.marpit>svg>foreignObject>section .pl-mi {
        color: #24292e;
        font-style: italic
    }

    div.marpit>svg>foreignObject>section .pl-mb {
        color: #24292e;
        font-weight: 700
    }

    div.marpit>svg>foreignObject>section .pl-md {
        background-color: #ffeef0;
        color: #b31d28
    }

    div.marpit>svg>foreignObject>section .pl-mi1 {
        background-color: #f0fff4;
        color: #22863a
    }

    div.marpit>svg>foreignObject>section .pl-mc {
        background-color: #ffebda;
        color: #e36209
    }

    div.marpit>svg>foreignObject>section .pl-mi2 {
        background-color: #005cc5;
        color: #f6f8fa
    }

    div.marpit>svg>foreignObject>section .pl-mdr {
        color: #6f42c1;
        font-weight: 700
    }

    div.marpit>svg>foreignObject>section .pl-ba {
        color: #586069
    }

    div.marpit>svg>foreignObject>section .pl-sg {
        color: #959da5
    }

    div.marpit>svg>foreignObject>section .pl-corl {
        color: #032f62;
        text-decoration: underline
    }

    div.marpit>svg>foreignObject>section .mb-0 {
        margin-bottom: 0 !important
    }

    div.marpit>svg>foreignObject>section .my-2 {
        margin-bottom: 8px !important;
        margin-top: 8px !important
    }

    div.marpit>svg>foreignObject>section .pl-0 {
        padding-left: 0 !important
    }

    div.marpit>svg>foreignObject>section .py-0 {
        padding-bottom: 0 !important;
        padding-top: 0 !important
    }

    div.marpit>svg>foreignObject>section .pl-1 {
        padding-left: 4px !important
    }

    div.marpit>svg>foreignObject>section .pl-2 {
        padding-left: 8px !important
    }

    div.marpit>svg>foreignObject>section .py-2 {
        padding-bottom: 8px !important;
        padding-top: 8px !important
    }

    div.marpit>svg>foreignObject>section .pl-3 {
        padding-left: 16px !important
    }

    div.marpit>svg>foreignObject>section .pl-4 {
        padding-left: 24px !important
    }

    div.marpit>svg>foreignObject>section .pl-5 {
        padding-left: 32px !important
    }

    div.marpit>svg>foreignObject>section .pl-6 {
        padding-left: 40px !important
    }

    div.marpit>svg>foreignObject>section .pl-7 {
        padding-left: 48px !important
    }

    div.marpit>svg>foreignObject>section .pl-8 {
        padding-left: 64px !important
    }

    div.marpit>svg>foreignObject>section .pl-9 {
        padding-left: 80px !important
    }

    div.marpit>svg>foreignObject>section .pl-10 {
        padding-left: 96px !important
    }

    div.marpit>svg>foreignObject>section .pl-11 {
        padding-left: 112px !important
    }

    div.marpit>svg>foreignObject>section .pl-12 {
        padding-left: 128px !important
    }

    div.marpit>svg>foreignObject>section hr {
        border-bottom-color: #eee
    }

    div.marpit>svg>foreignObject>section kbd {
        background-color: #fafbfc;
        border: 1px solid #d1d5da;
        border-radius: 3px;
        box-shadow: inset 0 -1px 0 #d1d5da;
        color: #444d56;
        display: inline-block;
        font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
        line-height: 10px;
        padding: 3px 5px;
        vertical-align: middle
    }

    div.marpit>svg>foreignObject>section:after,
    div.marpit>svg>foreignObject>section:before {
        /* content:""; */
        display: table
    }

    div.marpit>svg>foreignObject>section:after {
        clear: both
    }

    div.marpit>svg>foreignObject>section>:first-child {
        margin-top: 0 !important
    }

    div.marpit>svg>foreignObject>section>:last-child {
        margin-bottom: 0 !important
    }

    div.marpit>svg>foreignObject>section a:not([href]) {
        color: inherit;
        text-decoration: none
    }

    div.marpit>svg>foreignObject>section blockquote,
    div.marpit>svg>foreignObject>section details,
    div.marpit>svg>foreignObject>section dl,
    div.marpit>svg>foreignObject>section ol,
    div.marpit>svg>foreignObject>section p,
    div.marpit>svg>foreignObject>section pre,
    div.marpit>svg>foreignObject>section table,
    div.marpit>svg>foreignObject>section ul {
        margin-bottom: 16px;
        margin-top: 0
    }

    div.marpit>svg>foreignObject>section hr {
        background-color: #e1e4e8;
        border: 0;
        height: .25em;
        margin: 24px 0;
        padding: 0
    }

    div.marpit>svg>foreignObject>section blockquote {
        border-left: .25em solid #dfe2e5;
        color: #6a737d;
        padding: 0 1em
    }

    div.marpit>svg>foreignObject>section blockquote>:first-child {
        margin-top: 0
    }

    div.marpit>svg>foreignObject>section blockquote>:last-child {
        margin-bottom: 0
    }

    div.marpit>svg>foreignObject>section h1,
    div.marpit>svg>foreignObject>section h2,
    div.marpit>svg>foreignObject>section h3,
    div.marpit>svg>foreignObject>section h4,
    div.marpit>svg>foreignObject>section h5,
    div.marpit>svg>foreignObject>section h6 {
        font-weight: 600;
        line-height: 1.25;
        margin-bottom: 16px;
        margin-top: 24px
    }

    div.marpit>svg>foreignObject>section h1 {
        font-size: 2em
    }

    div.marpit>svg>foreignObject>section h1,
    div.marpit>svg>foreignObject>section h2 {
        border-bottom: 1px solid #eaecef;
        padding-bottom: .3em
    }

    div.marpit>svg>foreignObject>section h2 {
        font-size: 1.5em
    }

    div.marpit>svg>foreignObject>section h3 {
        font-size: 1.25em
    }

    div.marpit>svg>foreignObject>section h4 {
        font-size: 1em
    }

    div.marpit>svg>foreignObject>section h5 {
        font-size: .875em
    }

    div.marpit>svg>foreignObject>section h6 {
        color: #6a737d;
        font-size: .85em
    }

    div.marpit>svg>foreignObject>section ol,
    div.marpit>svg>foreignObject>section ul {
        padding-left: 2em
    }

    div.marpit>svg>foreignObject>section ol ol,
    div.marpit>svg>foreignObject>section ol ul,
    div.marpit>svg>foreignObject>section ul ol,
    div.marpit>svg>foreignObject>section ul ul {
        margin-bottom: 0;
        margin-top: 0
    }

    div.marpit>svg>foreignObject>section li {
        word-wrap: break-all
    }

    div.marpit>svg>foreignObject>section li>p {
        margin-top: 16px
    }

    div.marpit>svg>foreignObject>section li+li {
        margin-top: .25em
    }

    div.marpit>svg>foreignObject>section dl {
        padding: 0
    }

    div.marpit>svg>foreignObject>section dl dt {
        font-size: 1em;
        font-style: italic;
        font-weight: 600;
        margin-top: 16px;
        padding: 0
    }

    div.marpit>svg>foreignObject>section dl dd {
        margin-bottom: 16px;
        padding: 0 16px
    }

    div.marpit>svg>foreignObject>section table {
        display: block;
        overflow: auto;
        width: 100%
    }

    div.marpit>svg>foreignObject>section table th {
        font-weight: 600
    }

    div.marpit>svg>foreignObject>section table td,
    div.marpit>svg>foreignObject>section table th {
        border: 1px solid #dfe2e5;
        padding: 6px 13px
    }

    div.marpit>svg>foreignObject>section table tr {
        background-color: #fff;
        border-top: 1px solid #c6cbd1
    }

    div.marpit>svg>foreignObject>section table tr:nth-child(2n) {
        background-color: #f6f8fa
    }

    div.marpit>svg>foreignObject>section img {
        background-color: #fff;
        box-sizing: initial;
        max-width: 100%
    }

    div.marpit>svg>foreignObject>section img[align=right] {
        padding-left: 20px
    }

    div.marpit>svg>foreignObject>section img[align=left] {
        padding-right: 20px
    }

    div.marpit>svg>foreignObject>section code {
        background-color: rgba(27, 31, 35, .05);
        border-radius: 3px;
        font-size: 85%;
        margin: 0;
        padding: .2em .4em
    }

    div.marpit>svg>foreignObject>section pre {
        word-wrap: normal
    }

    div.marpit>svg>foreignObject>section pre>code {
        background: transparent;
        border: 0;
        font-size: 100%;
        margin: 0;
        padding: 0;
        white-space: pre;
        word-break: normal
    }

    div.marpit>svg>foreignObject>section .highlight {
        margin-bottom: 16px
    }

    div.marpit>svg>foreignObject>section .highlight pre {
        margin-bottom: 0;
        word-break: normal
    }

    div.marpit>svg>foreignObject>section pre {
        background-color: #f6f8fa;
        border-radius: 3px;
        font-size: 85%;
        line-height: 1.45;
        overflow: auto;
        padding: 16px
    }

    div.marpit>svg>foreignObject>section pre code {
        word-wrap: normal;
        background-color: initial;
        border: 0;
        display: inline;
        line-height: inherit;
        margin: 0;
        max-width: auto;
        overflow: visible;
        padding: 0
    }

    div.marpit>svg>foreignObject>section .commit-tease-sha {
        color: #444d56;
        display: inline-block;
        /* font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace; simplem*/
        font-size: 90%
    }

    div.marpit>svg>foreignObject>section div.marpit>svg>foreignObject>section section.commit-tease-sha {
        --marpit-root-font-size: 90%
    }

    div.marpit>svg>foreignObject>section .full-commit .btn-outline:not(:disabled):hover {
        border-color: #005cc5;
        color: #005cc5
    }

    div.marpit>svg>foreignObject>section .blob-wrapper {
        overflow-x: auto;
        overflow-y: hidden
    }

    div.marpit>svg>foreignObject>section .blob-wrapper-embedded {
        max-height: 240px;
        overflow-y: auto
    }

    div.marpit>svg>foreignObject>section .blob-num {
        color: rgba(27, 31, 35, .3);
        cursor: pointer;
        /* font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace; simplem*/
        font-size: 12px;
        line-height: 20px;
        min-width: 50px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: right;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        vertical-align: top;
        white-space: nowrap;
        width: 1%
    }

    div.marpit>svg>foreignObject>section div.marpit>svg>foreignObject>section section.blob-num {
        --marpit-root-font-size: 12px
    }

    div.marpit>svg>foreignObject>section .blob-num:hover {
        color: rgba(27, 31, 35, .6)
    }

    div.marpit>svg>foreignObject>section .blob-num:before {
        content: attr(data-line-number)
    }

    div.marpit>svg>foreignObject>section .blob-code {
        line-height: 20px;
        padding-left: 10px;
        padding-right: 10px;
        position: relative;
        vertical-align: top
    }

    div.marpit>svg>foreignObject>section .blob-code-inner {
        word-wrap: normal;
        color: #24292e;
        /* font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace; simplem*/
        font-size: 12px;
        overflow: visible;
        white-space: pre
    }

    div.marpit>svg>foreignObject>section div.marpit>svg>foreignObject>section section.blob-code-inner {
        --marpit-root-font-size: 12px
    }

    div.marpit>svg>foreignObject>section .pl-token.active,
    div.marpit>svg>foreignObject>section .pl-token:hover {
        background: #ffea7f;
        cursor: pointer
    }

    div.marpit>svg>foreignObject>section .tab-size[data-tab-size="1"] {
        -moz-tab-size: 1;
        -o-tab-size: 1;
        tab-size: 1
    }

    div.marpit>svg>foreignObject>section .tab-size[data-tab-size="2"] {
        -moz-tab-size: 2;
        -o-tab-size: 2;
        tab-size: 2
    }

    div.marpit>svg>foreignObject>section .tab-size[data-tab-size="3"] {
        -moz-tab-size: 3;
        -o-tab-size: 3;
        tab-size: 3
    }

    div.marpit>svg>foreignObject>section .tab-size[data-tab-size="4"] {
        -moz-tab-size: 4;
        -o-tab-size: 4;
        tab-size: 4
    }

    div.marpit>svg>foreignObject>section .tab-size[data-tab-size="5"] {
        -moz-tab-size: 5;
        -o-tab-size: 5;
        tab-size: 5
    }

    div.marpit>svg>foreignObject>section .tab-size[data-tab-size="6"] {
        -moz-tab-size: 6;
        -o-tab-size: 6;
        tab-size: 6
    }

    div.marpit>svg>foreignObject>section .tab-size[data-tab-size="7"] {
        -moz-tab-size: 7;
        -o-tab-size: 7;
        tab-size: 7
    }

    div.marpit>svg>foreignObject>section .tab-size[data-tab-size="8"] {
        -moz-tab-size: 8;
        -o-tab-size: 8;
        tab-size: 8
    }

    div.marpit>svg>foreignObject>section .tab-size[data-tab-size="9"] {
        -moz-tab-size: 9;
        -o-tab-size: 9;
        tab-size: 9
    }

    div.marpit>svg>foreignObject>section .tab-size[data-tab-size="10"] {
        -moz-tab-size: 10;
        -o-tab-size: 10;
        tab-size: 10
    }

    div.marpit>svg>foreignObject>section .tab-size[data-tab-size="11"] {
        -moz-tab-size: 11;
        -o-tab-size: 11;
        tab-size: 11
    }

    div.marpit>svg>foreignObject>section .tab-size[data-tab-size="12"] {
        -moz-tab-size: 12;
        -o-tab-size: 12;
        tab-size: 12
    }

    div.marpit>svg>foreignObject>section .task-list-item {
        list-style-type: none
    }

    div.marpit>svg>foreignObject>section .task-list-item+.task-list-item {
        margin-top: 3px
    }

    div.marpit>svg>foreignObject>section .task-list-item input {
        margin: 0 .2em .25em -1.6em;
        vertical-align: middle
    }

    /* simplem　marpのハイライト設定の削除（simplem側にて設定するため）
    div.marpit>svg>foreignObject>section .hljs {
        background: #fff;
        color: #333;
        display: block;
        overflow-x: auto;
        padding: .5em
    }

    div.marpit>svg>foreignObject>section .hljs-comment,
    div.marpit>svg>foreignObject>section .hljs-meta {
        color: #969896
    }

    div.marpit>svg>foreignObject>section .hljs-emphasis,
    div.marpit>svg>foreignObject>section .hljs-quote,
    div.marpit>svg>foreignObject>section .hljs-strong,
    div.marpit>svg>foreignObject>section .hljs-template-variable,
    div.marpit>svg>foreignObject>section .hljs-variable {
        color: #df5000
    }

    div.marpit>svg>foreignObject>section .hljs-keyword,
    div.marpit>svg>foreignObject>section .hljs-selector-tag,
    div.marpit>svg>foreignObject>section .hljs-type {
        color: #d73a49
    }

    div.marpit>svg>foreignObject>section .hljs-attribute,
    div.marpit>svg>foreignObject>section .hljs-bullet,
    div.marpit>svg>foreignObject>section .hljs-literal,
    div.marpit>svg>foreignObject>section .hljs-symbol {
        color: #0086b3
    }

    div.marpit>svg>foreignObject>section .hljs-name,
    div.marpit>svg>foreignObject>section .hljs-section {
        color: #63a35c
    }

    div.marpit>svg>foreignObject>section .hljs-tag {
        color: #333
    }

    div.marpit>svg>foreignObject>section .hljs-attr,
    div.marpit>svg>foreignObject>section .hljs-selector-attr,
    div.marpit>svg>foreignObject>section .hljs-selector-class,
    div.marpit>svg>foreignObject>section .hljs-selector-id,
    div.marpit>svg>foreignObject>section .hljs-selector-pseudo,
    div.marpit>svg>foreignObject>section .hljs-title {
        color: #6f42c1
    }

    div.marpit>svg>foreignObject>section .hljs-addition {
        background-color: #eaffea;
        color: #55a532
    }

    div.marpit>svg>foreignObject>section .hljs-deletion {
        background-color: #ffecec;
        color: #bd2c00
    }

    div.marpit>svg>foreignObject>section .hljs-link {
        text-decoration: underline
    }

    div.marpit>svg>foreignObject>section .hljs-number {
        color: #005cc5
    }

    div.marpit>svg>foreignObject>section .hljs-string {
        color: #032f62
    }
    */

    div.marpit>svg>foreignObject>section svg[data-marp-fitting=svg] {
        max-height: 563px
    }

    div.marpit>svg>foreignObject>section h1 {
        color: #246;
        font-size: 1.6em
    }

    div.marpit>svg>foreignObject>section h1,
    div.marpit>svg>foreignObject>section h2 {
        border-bottom: none
    }

    div.marpit>svg>foreignObject>section h2 {
        font-size: 1.3em
    }

    div.marpit>svg>foreignObject>section h3 {
        font-size: 1.1em
    }

    div.marpit>svg>foreignObject>section h4 {
        font-size: 1.05em
    }

    div.marpit>svg>foreignObject>section h5 {
        font-size: 1em
    }

    div.marpit>svg>foreignObject>section h6 {
        font-size: .9em
    }

    div.marpit>svg>foreignObject>section h1 strong,
    div.marpit>svg>foreignObject>section h2 strong,
    div.marpit>svg>foreignObject>section h3 strong,
    div.marpit>svg>foreignObject>section h4 strong,
    div.marpit>svg>foreignObject>section h5 strong,
    div.marpit>svg>foreignObject>section h6 strong {
        color: #48c;
        font-weight: inherit
    }

    div.marpit>svg>foreignObject>section hr {
        height: 0;
        padding-top: .25em
    }

    div.marpit>svg>foreignObject>section pre {
        border: 1px solid #999;
        line-height: 1.15;
        overflow: visible
    }

    div.marpit>svg>foreignObject>section pre code svg[data-marp-fitting=svg] {
        max-height: 529px
    }

    div.marpit>svg>foreignObject>section footer,
    div.marpit>svg>foreignObject>section header {
        color: hsla(0, 0%, 40%, .75);
        font-size: 18px;
        left: 30px;
        margin: 0;
        position: absolute
    }

    div.marpit>svg>foreignObject>section header {
        top: 21px
    }

    div.marpit>svg>foreignObject>section footer {
        bottom: 21px
    }

    div.marpit>svg>foreignObject>section {
        align-items: stretch;
        background: #fff;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        font-size: 29px;
        height: 720px;
        justify-content: center;
        padding: 78.5px;
        width: 1280px
    }

    div.marpit>svg>foreignObject>section {
        --marpit-root-font-size: 29px
    }

    div.marpit>svg>foreignObject>section>:last-child,
    div.marpit>svg>foreignObject>section[data-footer]>:nth-last-child(2) {
        margin-bottom: 0
    }

    div.marpit>svg>foreignObject>section>:first-child,
    div.marpit>svg>foreignObject>section>header:first-child+* {
        margin-top: 0
    }

    div.marpit>svg>foreignObject>section:after {
        bottom: 21px;
        color: #777;
        font-size: 24px;
        padding: 0;
        position: absolute;
        right: 30px
    }

    div.marpit>svg>foreignObject>section:after {
        --marpit-root-font-size: 24px
    }

    div.marpit>svg>foreignObject>section.invert {
        background-color: #222;
        color: #e6eaf0
    }

    div.marpit>svg>foreignObject>section.invert:after {
        color: #999
    }

    div.marpit>svg>foreignObject>section.invert img {
        background-color: transparent
    }

    div.marpit>svg>foreignObject>section.invert a {
        color: #50b3ff
    }

    div.marpit>svg>foreignObject>section.invert h1 {
        color: #a3c5e7
    }

    div.marpit>svg>foreignObject>section.invert h2,
    div.marpit>svg>foreignObject>section.invert h3,
    div.marpit>svg>foreignObject>section.invert h4,
    div.marpit>svg>foreignObject>section.invert h5 {
        color: #ebeff5
    }

    div.marpit>svg>foreignObject>section.invert blockquote,
    div.marpit>svg>foreignObject>section.invert h6 {
        border-color: #3d3f43;
        color: #939699
    }

    div.marpit>svg>foreignObject>section.invert h1 strong,
    div.marpit>svg>foreignObject>section.invert h2 strong,
    div.marpit>svg>foreignObject>section.invert h3 strong,
    div.marpit>svg>foreignObject>section.invert h4 strong,
    div.marpit>svg>foreignObject>section.invert h5 strong,
    div.marpit>svg>foreignObject>section.invert h6 strong {
        color: #7bf
    }

    div.marpit>svg>foreignObject>section.invert hr {
        background-color: #3d3f43
    }

    div.marpit>svg>foreignObject>section.invert footer,
    div.marpit>svg>foreignObject>section.invert header {
        color: hsla(0, 0%, 60%, .75)
    }

    div.marpit>svg>foreignObject>section.invert code,
    div.marpit>svg>foreignObject>section.invert kbd {
        background-color: #111
    }

    div.marpit>svg>foreignObject>section.invert kbd {
        border-color: #666;
        box-shadow: inset 0 -1px 0 #555;
        color: #e6eaf0
    }

    div.marpit>svg>foreignObject>section.invert table tr {
        background-color: #12181d;
        border-color: #60657b
    }

    div.marpit>svg>foreignObject>section.invert table tr:nth-child(2n) {
        background-color: #1b2024
    }

    div.marpit>svg>foreignObject>section.invert table td,
    div.marpit>svg>foreignObject>section.invert table th {
        border-color: #5b5e61
    }

    div.marpit>svg>foreignObject>section.invert pre {
        background-color: #0a0e12;
        border-color: #777
    }

    div.marpit>svg>foreignObject>section.invert pre code {
        background-color: transparent
    }

    div.marpit>svg>foreignObject>section[data-color] h1,
    div.marpit>svg>foreignObject>section[data-color] h2,
    div.marpit>svg>foreignObject>section[data-color] h3,
    div.marpit>svg>foreignObject>section[data-color] h4,
    div.marpit>svg>foreignObject>section[data-color] h5,
    div.marpit>svg>foreignObject>section[data-color] h6 {
        color: currentColor
    }

    div.marpit>svg>foreignObject>section[data-marpit-advanced-background=background] {
        columns: initial !important;
        display: block !important;
        padding: 0 !important
    }

    div.marpit>svg>foreignObject>section[data-marpit-advanced-background=background]:after,
    div.marpit>svg>foreignObject>section[data-marpit-advanced-background=background]:before,
    div.marpit>svg>foreignObject>section[data-marpit-advanced-background=content]:after,
    div.marpit>svg>foreignObject>section[data-marpit-advanced-background=content]:before {
        display: none !important
    }

    div.marpit>svg>foreignObject>section[data-marpit-advanced-background=background]>div[data-marpit-advanced-background-container] {
        all: initial;
        display: flex;
        flex-direction: row;
        height: 100%;
        overflow: hidden;
        width: 100%
    }

    div.marpit>svg>foreignObject>section[data-marpit-advanced-background=background]>div[data-marpit-advanced-background-container][data-marpit-advanced-background-direction=vertical] {
        flex-direction: column
    }

    div.marpit>svg>foreignObject>section[data-marpit-advanced-background=background][data-marpit-advanced-background-split]>div[data-marpit-advanced-background-container] {
        width: var(--marpit-advanced-background-split, 50%)
    }

    div.marpit>svg>foreignObject>section[data-marpit-advanced-background=background][data-marpit-advanced-background-split=right]>div[data-marpit-advanced-background-container] {
        margin-left: calc(100% - var(--marpit-advanced-background-split, 50%))
    }

    div.marpit>svg>foreignObject>section[data-marpit-advanced-background=background]>div[data-marpit-advanced-background-container]>figure {
        all: initial;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        flex: auto;
        margin: 0
    }

    div.marpit>svg>foreignObject>section[data-marpit-advanced-background=content],
    div.marpit>svg>foreignObject>section[data-marpit-advanced-background=pseudo] {
        background: transparent !important
    }

    div.marpit>svg>foreignObject>section[data-marpit-advanced-background=pseudo],
    div.marpit>svg[data-marpit-svg]>foreignObject[data-marpit-advanced-background=pseudo] {
        pointer-events: none !important
    }

    div.marpit>svg>foreignObject>section[data-marpit-advanced-background-split] {
        width: 100%;
        height: 100%
    }


/* ================================以下、追加と上書き==================================== */


/* スライドの影とマージン設定 */

.marpit {
    text-align:center;
}

.marpit>svg {
    box-shadow: grey 1px 1px 5px 1px;
    margin: 10px;
    max-height: 80vh;
    max-width: 56.6vh;
    text-align:initial;
}


/* slidesボタンの設定 */
body .slides {
  position: absolute;
  /*width: 26px;*/
  height: 26px;
  /*line-height:26px;*/
  left: 85px;
  bottom: 4px;

  background: 0 0;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer
}

body .slides:hover {
  background: #fcfcfc;
  border-color: transparent;
}

body .slides.active {
  background-color: #100f2c;
  color: #fff;
}

body .slides:after {
  /* font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; simplem*/
  font-size: 65%;
  vertical-align: text-bottom;
  position: relative;
  top: 2px;

  content: "Slides";
}




/* ===============以下、上書き===================================== */

    /* コードブロックの書式 */
    div.marpit>svg>foreignObject>section pre {
        /* background-color: #f6f8fa; simplem*/
        background-color: #364549;
        border-radius: 6px;
        font-size: 85%;
        line-height: 1.45;
        overflow: auto;
        padding: 16px
    }

    /* 文章の上下方向の中央寄せ解除 */
    div.marpit>svg>foreignObject>section {
        align-items: stretch;
        background: #fff;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        font-size: 29px;
        height: 1395px;
        /*justify-content: center; original simplem*/
        justify-content: unset;
        padding: 78.5px;
        width:  986px;
    }

/* h1などのスタイル（編集画面のスタイルはprint_for_marp.cssにあり） sssssssssssssssssssssssssssssssssss */

    div.marpit>svg>foreignObject>section h1 {
        color: black;
        font-size: 1.6em;
        border-bottom: 1px solid #345255;
    }

    div.marpit>svg>foreignObject>section h1 strong {
        color: black;
    }

    div.marpit>svg>foreignObject>section h2 {
        color: black;
        font-size: 1.3em;
        border-bottom: 1px solid #cccccc;

    }

    div.marpit>svg>foreignObject>section h2 strong {
        color: black;
    }



/* eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee */




/* ==================以下、カット&ペーストして改変分================================= */
/* @page @media printは print_for_marp css へ移行済み */