@media print {

    /*h1で改ページ*/
    h1 {
        page-break-before: always !important;
        page-break-inside: avoid !important;/* 無くてもいいが、念の為記述 */
    }



    .CodeMirror-wrap, .editor-preview-active {
        overflow: visible !important;
        -webkit-print-color-adjust:exact !important; /* 背景色の表示 */
        position: relative; /* 改ページ設定に必要 */
        padding-top: 0 !important; /* 各ページのtopからの距離を揃えるのに必要 */
        padding-bottom: 0 !important;
    }


    .CodeMirror-wrap {
        border:0 !important; /* 改ページ設定にも必要 */
        padding:0 !important;
    }

    .editor-toolbar, .editor-statusbar, .CodeMirror-code, .CodeMirror-sizer,  .CodeMirror-scroll, .CodeMirror-vscrollbar, .CodeMirror-hscrollbar, textarea, .editor-preview-side, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler, .darkmode-toggle {
        display: none !important;
    }

}