
@media print {

    /*div {
        display:block;
        position: relative;
    }*/

    /*h1で改ページ
    .editor-preview-active h1 {
        page-break-before: always;
        display:block;
        position:relative;
    }*/



    .CodeMirror-wrap, .editor-preview-active {
        overflow: visible !important;
        -webkit-print-color-adjust:exact;
        /*page-break-inside: auto;*/
    }

    .CodeMirror-wrap {
        border:0 !important;
        padding:0 !important;
    }

    .editor-toolbar, .editor-statusbar, .CodeMirror-code, .CodeMirror-scroll, .CodeMirror-sizer {
        display: none !important;
    }
}